<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fc.mydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity_">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.WebViewTestActivity_" />

        <receiver android:name=".broadcast.StaticBroadcast">
            <intent-filter>
                <action android:name="com.fc.demo.static.receiver" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyFirstService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fc.mydemo.service.MyFirstService" />
            </intent-filter>
        </service>
        <service android:name=".service.MyIntentService" />

        <activity android:name=".activity.fourmodule.MyBdcActivity_" />
        <activity android:name=".activity.fourmodule.ServiceLifecycleActivity_" />
        <activity android:name=".activity.fourmodule.IntentTestActivity_" />
        <activity android:name=".activity.fourmodule.FourModuleListActivity_" />
        <activity android:name=".activity.fourmodule.IntentServiceTestActivity_" />
        <activity android:name=".activity.async.HandlerTestActivity" />
        <activity android:name=".activity.async.AsyncListActivity_" />
        <activity android:name=".activity.async.AsyncTaskTestActivity" />
        <activity android:name=".activity.annotations.AnnotationsBackTestActivity_" />
        <activity android:name=".activity.annotations.AnnotationsListActivity_" />
        <activity android:name=".activity.annotations.RestActivity_" />
        <activity android:name=".activity.xml.XMLParserActivity_" />
        <activity android:name=".activity.xml.DomParserDemo" />
        <activity android:name=".activity.xml.PullParserDemo" />
        <activity android:name=".activity.xml.SAXParserDemo" />
        <activity android:name=".activity.camera.CameraMainActivity_" />
        <activity
            android:name=".activity.camera.CameraTestActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.widget.actionbar.ActionBarBaseActivity"
            android:theme="@style/ActionBarStyle">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.widget.actionbar.IconActionBarActivity"
            android:theme="@style/IconActionBarStyle"/>
    </application>

</manifest>